<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>ElvisStore</title>
    <script src="/angular.min.js"></script>
    <script src="/script.js"></script>
</head>
<body>
    <div ng-controller="searchController as ctrl" ng-init="init()">

        <label for="filt">filter</label><input id="filt" ng-model-options="{ debounce: 500 }" ng-model="filter" ng-change="onFilter()"/>
        <ul>
            <li ng-repeat="p in products track by p._id">{{p.name}} -- $ {{p.cost}}</li>
            
        </ul>
    </div>
    
</body>
</html>